// 1. Your custom variables and variable overwrites.
$global-link-color: #A60321;


// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

#my-id {
  background-color: #000;
}

.indent {
  text-indent: -5em;
}

.uk-card{
  text-align: center;
}

.center{
  text-align: center;
}

.logo {
  height: 85px;
  width: auto;
}

#navbar {
  color: #030f26;
  background-color: #030f26;
}

#navtext {
  color: #A60321;
}

#home {
  background-image: url(../assets/images/shooting-target.jpg);
  background-size: cover;
  min-height: 600px;
  margin-top: -20px;
}

.homemiddle {
  background: rgb(170,177,191);
  background: -moz-linear-gradient(0deg, rgba(170,177,191,1) 32%, rgba(255,255,255,0) 80%);
  background: -webkit-linear-gradient(0deg, rgba(170,177,191,1) 32%, rgba(255,255,255,0) 80%);
  background: linear-gradient(0deg, rgba(170,177,191,1) 32%, rgba(255,255,255,0) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aab1bf",endColorstr="#ffffff",GradientType=1); 
  height: 500px;
  margin-top: -400px;
}

.hometext {
  text-align: center;
  background: rgb(170,177,191);
  padding: 0px 50px 50px 50px;
}

.logohome {
  align-items: center;
  height: 200px;
  margin-top: -200px;
}

.member {
  background-image: url(../assets/images/members.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  color: #ff002f;
  margin: 10px;
  padding: 0px;
}

.membertitle {
  margin-top: 100px;
}

.footer {
  background-color: #030f26;
  height: 150px;
  padding: 20px;
}

.footerlogo {
  height: 150px;
}

.footertext {
  color: #A60321;
}

a:hover {
  color: #A60321;
}
